<!-- to include navbar in every page -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">School Management</a>
    <!--
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav me-auto">
      <============= this section is used to maintaning distance or spacing======================>
      </ul>

      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/dashboard/">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout/">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
    -->


        <li><a class="dropdown-item" href="{% url 'student_register' %}">Student Register</a></li>
 
   


  </div>
</nav>
