<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Register</button>
</form>


{% include 'navbar.html' %}
{% if form.errors %}
<div class="alert alert-danger">
    {{ form.errors }}
</div>
{% endif %}

<div class="container mt-5">
    <h2 class="text-success">Teacher Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Register</button>
        <label>Email:</label>
{{ form.email }}

    </form>
</div>
